@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;

:root {
  @apply antialiased text-white bg-gray-900 font-display;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 1rem; */
  background: theme("colors.gray.200");
}

::-webkit-scrollbar-thumb:hover {
  background: theme("colors.orange.500");
}

@tailwind utilities;
